.footer {
    background-color: #0B0B0B;
    color: #fff;
    padding: 60px 80px 20px;
    font-family: 'Inter', sans-serif;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.logoSection {
    max-width: 300px;
}

.logoText {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 15px;
}

.socialIcons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.linksSection {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap: 250px;
}
.linksSection > div{
    flex:1;
    min-width:150px;
}

.linksSection h4 {
        font-weight: 700;
        margin-bottom: 50px;
        font-size:20px;
}

.linksSection ul {
        list-style: none;
        padding: 0;
        margin: 0;
}
.linksSection li {
        margin-bottom: 8px;
        cursor: pointer;
}

.copy {
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
}
