.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0D0D0D;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #c4c4c4;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoText {
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
  	cursor: pointer;
    color: white;
}

.nav {
    display: flex;
}
   
.nav a {
        font-size: 16px;
        color: #fff;
        margin-right: 120px;
        text-decoration: none;
}

.signIn {
    padding: 8px 20px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    text-decoration: none;
  	cursor: pointer;
}

