/* AuthForm.module.css */
.mainTitle {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2px;
	margin-top: 0px;
}
.subTitle {
	font-size: 20px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
}

.authContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.authForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputButton {
	width: 33vw;
	max-width: 400px;
	height: 50px;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.hrLine {
	width: 33vw;
	max-width: 400px;
	margin: 15px 0;
}


.footerText {
	margin-top: 5px;
}

.pageWrapper{
	position:relative;
	width:100%;
	min-height:100vh;
}
.logoText{
	position:absolute;
	top:20px;
	left:20px;
	font-size:24px;
	font-weight:900;
}

